@model List<LKTManagement.Models.VM.MonthlyBillingReceivedInfoReportVm>
@{
    ViewBag.Title = "Billing Per-Months Information";
}
<!--#region Table Data-->
<div class="col-xs-12 ">
    <div class="widget-box">
        <div class="widget-body">
            <div class="widget-main">
                <input type="hidden" id="hidden_area" />
                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="widget-box ">

                            <div class="widget-header">
                                <h4 class="widget-title">@ViewBag.Title</h4>
                                <div class="widget-toolbar">
                                    
                                    <a href="javascript:search()">
                                        <i class="ace-icon fa fa-search"></i>
                                    </a>
                                    <a href="javascript:ReloadTable()">
                                        <i class="ace-icon fa fa-refresh"></i>
                                    </a>

                                    <a onclick="printDiv('print')">
                                        <i class="ace-icon fa fa-print"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="print" class="widget-body print">
                                <div class="widget-main">
                                    <table id="Table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center; color:black; font-size:18px; font-weight:600" colspan="14">Lotus Kamal Tower Two</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; color:black; font-size:18px; font-weight:600;" colspan="14">Collection & Outstanding Status</th>                                                
                                            </tr>
                                            <tr>
                                                <th style="text-align:center; color:black; font-size:14px; font-weight:500;" colspan="14">From &nbsp; @ViewBag.SDateFrom &nbsp; To &nbsp;  @ViewBag.SDateTo</th>
                                            </tr>
                                            <tr>
                                                <th rowspan="2">Tenant</th>
                                                <th rowspan="2">Foor Level</th>
                                                <th rowspan="2">Floor Space</th>
                                                <th rowspan="2">Efective Date</th>
                                                <th rowspan="2">Renewal/Expiry Date</th>
                                                <th rowspan="2">Rent/SFT</th>
                                                <th rowspan="2">Total</th>
                                                <th rowspan="2">Particulars to Bill</th>
                                                <th colspan="3" style="text-align:center;" >Bill for Collection</th>
                                                <th rowspan="2">Received Amount during this month</th>
                                                <th rowspan="2">Ending Balance</th>
                                                <th rowspan="2">Remarks</th>
                                            </tr>
                                            <tr>
                                                <th>Opening Balance</th>
                                                <th>Current Dues</th>
                                                <th>Total Bill Receivable</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{  decimal grandTotal = 0;
                                                foreach (var tenant in Model)
                                                {
                                                    var totalFloor = tenant.FloorBasics.Count();
                                                    foreach (var floor in tenant.FloorBasics.Select((value, i) => new { i, value }))
                                                    {
                                                        if (floor.i == 0)
                                                        {
                                                            <tr>

                                                                @if (tenant.RentAIT != 0 && tenant.CommonAIT != 0)
                                                                {
                                                                    <td style="vertical-align:middle" rowspan="@(totalFloor + 7)" onclick="ShowInputModal('@tenant.TenantName', '@tenant.MonthlyBillingId','@tenant.CurrentDuesRent', '@tenant.CurrentDuesCommon', '@tenant.CurrentDuesWasa', '@tenant.CurrentDuesElectricity', '@tenant.CurrentDuesEmElectricity','@tenant.RemarksRent', '@tenant.RemarksCommon', '@tenant.RemarksWasa', '@tenant.RemarksElectricity', '@tenant.RemarksEmElectricity'  )">@tenant.TenantName <br /> <br /> (@tenant.MonthName, @tenant.Year) </td>
                                                                }
                                                                else if (tenant.CommonAIT != 0)
                                                                {
                                                                    <td style="vertical-align:middle" rowspan="@(totalFloor + 6)" onclick="ShowInputModal('@tenant.TenantName', '@tenant.MonthlyBillingId','@tenant.CurrentDuesRent', '@tenant.CurrentDuesCommon', '@tenant.CurrentDuesWasa', '@tenant.CurrentDuesElectricity', '@tenant.CurrentDuesEmElectricity','@tenant.RemarksRent', '@tenant.RemarksCommon', '@tenant.RemarksWasa', '@tenant.RemarksElectricity', '@tenant.RemarksEmElectricity'  )">@tenant.TenantName <br /> <br /> (@tenant.MonthName, @tenant.Year) </td>
                                                                }
                                                                else if (tenant.RentAIT != 0)
                                                                {
                                                                    <td style="vertical-align:middle" rowspan="@(totalFloor + 6)" onclick="ShowInputModal('@tenant.TenantName', '@tenant.MonthlyBillingId','@tenant.CurrentDuesRent', '@tenant.CurrentDuesCommon', '@tenant.CurrentDuesWasa', '@tenant.CurrentDuesElectricity', '@tenant.CurrentDuesEmElectricity','@tenant.RemarksRent', '@tenant.RemarksCommon', '@tenant.RemarksWasa', '@tenant.RemarksElectricity', '@tenant.RemarksEmElectricity'  )">@tenant.TenantName <br /> <br /> (@tenant.MonthName, @tenant.Year) </td>
                                                                }
                                                                else
                                                                {
                                                                    <td style="vertical-align:middle" rowspan="@(totalFloor + 5)" onclick="ShowInputModal('@tenant.TenantName', '@tenant.MonthlyBillingId','@tenant.CurrentDuesRent', '@tenant.CurrentDuesCommon', '@tenant.CurrentDuesWasa', '@tenant.CurrentDuesElectricity', '@tenant.CurrentDuesEmElectricity','@tenant.RemarksRent', '@tenant.RemarksCommon', '@tenant.RemarksWasa', '@tenant.RemarksElectricity', '@tenant.RemarksEmElectricity'  )">@tenant.TenantName <br /> <br /> (@tenant.MonthName, @tenant.Year) </td>
                                                                }

                                                                <td>@floor.value.FloorLevel</td>
                                                                <td>@floor.value.FloorSpace</td>
                                                                <td>@floor.value.EffectiveDateText</td>
                                                                <td>@floor.value.ExpiryDateText</td>
                                                                <td>@floor.value.RentPerSft</td>
                                                                <td>@floor.value.Total.ToString("0.00")</td>
                                                                <td style="vertical-align:middle" rowspan="@totalFloor;">Rent</td>
                                                                <td style="vertical-align:middle" rowspan="@totalFloor;">@tenant.OpeningBalanceRent</td>
                                                                <td style="vertical-align:middle" rowspan="@totalFloor;">@tenant.CurrentDuesRent</td>
                                                                <td style="vertical-align:middle" rowspan="@totalFloor;">@tenant.ReceiveableRent</td>
                                                                <td style="vertical-align:middle" rowspan="@totalFloor;">@tenant.RentBill</td>
                                                                <td style="vertical-align:middle" rowspan="@totalFloor;">@tenant.EndingRent</td>
                                                                <td style="vertical-align:middle" rowspan="@totalFloor;">@tenant.RemarksRent</td>  
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td>@floor.value.FloorLevel</td>
                                                                <td>@floor.value.FloorSpace</td>
                                                                <td>@floor.value.EffectiveDateText</td>
                                                                <td>@floor.value.ExpiryDateText</td>
                                                                <td>@floor.value.RentPerSft</td>
                                                                <td>@floor.value.Total.ToString("0.00")</td>
                                                            </tr>
                                                        }
                                                    }

                                                    <tr>
                                                        <td colspan="5" style="font-weight:700">Total of level  </td>
                                                        <td>@tenant.MonthlyRentReceivable.ToString("0.00")</td>
                                                        <td>Common</td>
                                                        <td>@tenant.OpeningBalanceCommon</td>
                                                        <td>@tenant.CurrentDuesCommon</td>
                                                        <td>@tenant.ReceiveableCommon</td>
                                                        <td>@tenant.CommonBill</td>
                                                        <td>@tenant.EndingCommon</td>
                                                        <td>@tenant.RemarksCommon</td>
                                                    </tr>
                                                        <tr>
                                                            <td colspan="5">Less AIT (@tenant.LessAITPercent%)</td>
                                                            <td>@tenant.LessAITAmount.ToString("0.00")</td>
                                                            <td>Electricity</td>
                                                            <td>@tenant.OpeningBalanceElectricity</td>
                                                            <td>@tenant.CurrentDuesElectricity</td>
                                                            <td>@tenant.ReceiveableElectricity</td>
                                                            <td>@tenant.ElectricityBill</td>
                                                            <td>@tenant.EndingElectricity</td>
                                                            <td>@tenant.RemarksElectricity</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">Less Advance Adjustment Per Month</td>
                                                            <td>@(tenant.AdvanceAdjustment * totalFloor)</td>
                                                            <td>Wasa</td>
                                                            <td>@tenant.OpeningBalanceWasa</td>
                                                            <td>@tenant.CurrentDuesWasa</td>
                                                            <td>@tenant.ReceiveableWasa</td>
                                                            <td>@tenant.WasaBill</td>
                                                            <td>@tenant.EndingWasa</td>
                                                            <td>@tenant.RemarksWasa</td>
                                                        </tr>
                                                        
                                                        if (tenant.RentAIT != 0)
                                                        {
                                                            <tr>
                                                                <td colspan="5">AIT on Rent</td>
                                                                <td>@tenant.RentAIT</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }
                                                        
                                                        if (tenant.CommonAIT != 0)
                                                        {
                                                            <tr>
                                                                <td colspan="5">AIT on Common</td>
                                                                <td>@tenant.CommonAIT</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                                <td>-</td>
                                                            </tr>
                                                        }


                                                        <tr>
                                                            <td colspan="5" rowspan="2" style="font-weight:700">Net Monthly Receivable</td>
                                                            <td rowspan="2">@tenant.NetMonthlyRentReceivable.ToString("0.00")</td>

                                                            <td>Em. Electricity</td>
                                                            <td>@tenant.OpeningBalanceEmElectricity</td>
                                                            <td>@tenant.CurrentDuesEmElectricity</td>
                                                            <td>@tenant.ReceiveableEmElectricity</td>
                                                            <td>@tenant.EmElectricityBill</td>
                                                            <td>@tenant.EndingEmElectricity</td>
                                                            <td>@tenant.RemarksEmElectricity</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total</td>
                                                            <td>@tenant.TotalOpening</td>
                                                            <td>@tenant.TotalCurrentDues</td>
                                                            <td>@tenant.TotalBillReceivable</td>
                                                            <td>@tenant.TotalReceived</td>
                                                            <td>@tenant.TotalEnding</td>
                                                            <td>-</td>
                                                        </tr>
                                                    grandTotal += tenant.TotalEnding;
                                                }
                                            }
                                            <tr>
                                                <td colspan="12" style="text-align:center; font-weight: 700">Grand Total...</td>
                                                <td style="font-weight:700">@grandTotal</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->
<!-- #region Search Modal -->
<div class=" modal fade in" tabindex="-1" role="dialog" id="searchModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="searchForm" method="post" action="Index">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">@ViewBag.Title</h5>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="iSTenantName">Tenant</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="iSTenantName" name="STenantInfoId"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="iSDateFrom">Billing Date From</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" id="iSDateFrom" name="SDateFrom" class="form-control" autocomplete="off" />
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="iSDateTo">Billing Date To</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="text" id="iSDateTo" name="SDateTo" class="form-control" autocomplete="off" />
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region Input Modal-->
<div class=" modal fade in" tabindex="-1" role="dialog" id="inputModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" role="form" id="inputForm" method="post" action="~/BillingInfoPerMonth/Save">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">@ViewBag.Title</h5>
                </div>
                <div class="modal-body">

                    <b><span id="TenantName"></span></b>
                    <input type="hidden" id="iUpdatedId" name="UpdatedId" value="" />
                    <table id="simple-table" class="table  table-bordered ">
                        <thead>
                            <tr>
                                <th>Particulars To Bill </th>
                                <th>Amount</th>
                                <th>Note</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Rent <input type="hidden" value="Rent" name="Purpose"></td>
                                <td><input type="text" id="iRentAmount" name="Amount" placeholder="Amount" class="form-control cAmount" readonly /></td>
                                <td><input type="text" id="iRentNote" name="Note" placeholder="Note" class="form-control cNote" /></td>
                            </tr>
                            <tr>
                                <td>Common Bill <input type="hidden" value="Common Bill" name="Purpose"></td>
                                <td><input type="text" id="iCommonAmount" name="Amount" placeholder="Amount" class="form-control cAmount" readonly /></td>
                                <td><input type="text" id="iCommonNote" name="Note" placeholder="Note" class="form-control cNote" /></td>
                            </tr>
                            <tr>
                                <td>Electricity Bill <input type="hidden" value="Electricity Bill" name="Purpose"></td>
                                <td><input type="text" id="iElectricityAmount" name="Amount" placeholder="Amount" class="form-control cAmount" /></td>
                                <td><input type="text" id="iElectricityNote" name="Note" placeholder="Note" class="form-control cNote" /></td>
                            </tr>
                            <tr>
                                <td>WASA Bill <input type="hidden" value="WASA Bill" name="Purpose"></td>
                                <td><input type="text" id="iWasaAmount" name="Amount" placeholder="Amount" class="form-control cAmount" /></td>
                                <td><input type="text" id="iWasaNote" name="Note" placeholder="Note" class="form-control cNote" /></td>
                            </tr>
                            <tr>
                                <td>Emergency Electricity Bill <input type="hidden" value="Emergency Electricity Bill" name="Purpose"></td>
                                <td><input type="text" id="iEmAmount" name="Amount" placeholder="Amount" class="form-control cAmount" /></td>
                                <td><input type="text" id="iEmNote" name="Note" placeholder="Note" class="form-control cNote" /></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--#endregion-->
@section scripts
{
    <script>
       
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        //#region Get TenantList

        $.ajax({
            type: 'Get',
            url: '/TenantInfo/TenantList'
        })
            .done(function (result) {
                if (result.status) {
                    $('#iSTenantName').append('<option value="">All Tenant</option>');
                    $.each(result.Data, function () {
                        $('#iSTenantName').append('<option value="' + this.Id + '">' + this.Name + '</option>');
                        $('#iTenantName').append('<option value="' + this.Id + '">' + this.Name + '</option>');
                    });
                }
            })
            .fail(function (xhr) {
                alert("error");
            });


        function search() {
            $('#searchModal').modal('show');
        }        

        //#region initials
        @*if ('@ViewBag.Message'!="NA")
        {
            var productId = @Html.Raw(Json.Encode(ViewBag.Message));
            alert(productId);
        }*@
        function ShowInputModal(Name, Id, Rent, CommonBill, Wasa, Electricity, EmElectricity, nRent, nCommonBill, nWasa, nElectricity, nEmElectricity) {
            $("#inputForm").trigger("reset");
            $('#inputModal').modal('show');


            $('#TenantName').text(Name);
            $('#iUpdatedId').val(Id);
            $('#iRentAmount').val(Rent);
            $('#iCommonAmount').val(CommonBill);
            $('#iWasaAmount').val(Wasa);
            $('#iElectricityAmount').val(Electricity);
            $('#iEmAmount').val(EmElectricity);
            $('#iRentNote').val(nRent);
            $('#iCommonNote').val(nCommonBill);
            $('#iWasaNote').val(nWasa);
            $('#iElectricityNote').val(nElectricity);
            $('#iEmNote').val(nEmElectricity);
        }        

        $(document).ready(function () {

            $("#iSDateFrom").datetimepicker({
                format: "YYYY-MM-DD",
                maxDate: 'now'
            });
            $("#iSDateTo").datetimepicker({
                format: "YYYY-MM-DD"
            });
            //$("#iSDateFrom").on("dp.change", function (e) {
            //    const year = e.date.format('YYYY');
            //    const month = e.date.format('MM');
            //    const startDate = moment([year, month - 1, 01]);
            //    const daysInMonth = moment(startDate).daysInMonth();
            //    const endDate = moment(startDate).add(daysInMonth - 1, 'days');
            //    $('#iSDateTo').data("DateTimePicker").maxDate(endDate);
            //});
            $("#iSDateTo").on("dp.change", function (e) {
                $('#iSDateFrom').data("DateTimePicker").maxDate(e.date);
            });

        });

        //#endregion


        // #region Input Data




    </script>
}